<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <h2 class="mb-4">Sign Up</h2>
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="fullName"
            name="fullName"
            [ngStyle]="{
              'border-color':
                signupForm.get('name')!.invalid &&
                signupForm.get('name')!.touched
                  ? 'red'
                  : 'initial',
              'background-color':
                signupForm.get('name')!.invalid &&
                signupForm.get('name')!.touched
                  ? 'mistyrose'
                  : 'initial'
            }"
          />
          <div
            style="color: red"
            *ngIf="
              signupForm.get('name')!.invalid &&
              signupForm.get('name')!.touched &&
              signupForm.controls['name']!.hasError('required')
            "
          >
            Username is required.
          </div>
          <div
            style="color: red"
            *ngIf="
              signupForm.get('name')!.invalid &&
              signupForm.get('name')!.touched &&
              signupForm.controls['name']!.hasError('minlength')
            "
          >
            Username must be at least 5 characters long.
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="password"
            name="password"
            [ngStyle]="{
              'border-color':
                signupForm.get('password')!.invalid &&
                signupForm.get('password')!.touched
                  ? 'red'
                  : 'initial',
              'background-color':
                signupForm.get('password')!.invalid &&
                signupForm.get('password')!.touched
                  ? 'mistyrose'
                  : 'initial'
            }"
          />
          <div
            style="color: red"
            *ngIf="
              signupForm.get('password')!.invalid &&
              signupForm.get('password')!.touched &&
              signupForm.controls['password']!.hasError('required')
            "
          >
            Password is required.
          </div>
          <div
            style="color: red"
            *ngIf="
              signupForm.get('password')!.invalid &&
              signupForm.get('password')!.touched &&
              signupForm.controls['password']!.hasError('minlength')
            "
          >
            Password must be at least 5 characters long.
          </div>
        </div>

        <div class="mb-3">
          <label for="companyName" class="form-label">Company Name</label>
          <input
            formControlName="companyName"
            type="text"
            class="form-control"
            id="companyName"
            name="companyName"
            [ngStyle]="{
              'border-color':
                signupForm.get('companyName')!.invalid &&
                signupForm.get('companyName')!.touched
                  ? 'red'
                  : 'initial',
              'background-color':
                signupForm.get('companyName')!.invalid &&
                signupForm.get('companyName')!.touched
                  ? 'mistyrose'
                  : 'initial'
            }"
          />
          <div
            style="color: red"
            *ngIf="
              signupForm.get('companyName')!.invalid &&
              signupForm.get('companyName')!.touched &&
              signupForm.controls['companyName']!.hasError('required')
            "
          >
            Company Name is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            formControlName="businessEmail"
            type="email"
            class="form-control"
            id="email"
            name="email"
            [ngStyle]="{
              'border-color':
                signupForm.get('businessEmail')!.invalid &&
                signupForm.get('businessEmail')!.touched
                  ? 'red'
                  : 'initial',
              'background-color':
                signupForm.get('businessEmail')!.invalid &&
                signupForm.get('businessEmail')!.touched
                  ? 'mistyrose'
                  : 'initial'
            }"
          />
          <div
            style="color: red"
            *ngIf="
              signupForm.get('businessEmail')!.invalid &&
              signupForm.get('businessEmail')!.touched &&
              signupForm.controls['businessEmail']!.hasError('required')
            "
          >
            Email is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="teamSize" class="form-label">Team Size</label>
          <select
            id="teamSize"
            name="teamSize"
            formControlName="teamSize"
            class="form-select"
            aria-label="Default select example"
            [ngStyle]="{
              'border-color':
                signupForm.get('teamSize')!.invalid &&
                signupForm.get('teamSize')!.touched
                  ? 'red'
                  : 'initial',
              'background-color':
                signupForm.get('teamSize')!.invalid &&
                signupForm.get('teamSize')!.touched
                  ? 'mistyrose'
                  : 'initial'
            }"
          >
            <option
              *ngFor="let tsoption of teamSizeOptions"
              [value]="tsoption.value"
            >
              {{ tsoption.label }}
            </option>
          </select>
          <div
            style="color: red"
            *ngIf="
              signupForm.get('teamSize')!.invalid &&
              signupForm.get('teamSize')!.touched &&
              signupForm.controls['teamSize']!.hasError('required')
            "
          >
            Please select one option
          </div>
        </div>

        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input
            formControlName="phoneNumber"
            type="text"
            class="form-control"
            id="phoneNumber"
            name="phoneNumber"
            [ngStyle]="{
              'border-color':
                signupForm.get('phoneNumber')!.invalid &&
                signupForm.get('phoneNumber')!.touched
                  ? 'red'
                  : 'initial',
              'background-color':
                signupForm.get('phoneNumber')!.invalid &&
                signupForm.get('phoneNumber')!.touched
                  ? 'mistyrose'
                  : 'initial'
            }"
          />
          <div
            style="color: red"
            *ngIf="
              signupForm.get('phoneNumber')!.invalid &&
              signupForm.get('phoneNumber')!.touched &&
              signupForm.controls['phoneNumber']!.hasError('required')
            "
          >
            Phone Number is required.
          </div>
        </div>


        <div class="mb-3">
          <label for="position" class="form-label">Position</label>
          <select
            id="position"
            name="position"
            formControlName="position"
            class="form-select"
            aria-label="Default select example"
            [ngStyle]="{
              'border-color':
                signupForm.get('position')!.invalid &&
                signupForm.get('position')!.touched
                  ? 'red'
                  : 'initial',
              'background-color':
                signupForm.get('position')!.invalid &&
                signupForm.get('position')!.touched
                  ? 'mistyrose'
                  : 'initial'
            }"
          >
            <option
              *ngFor="let psoption of positionOptions"
              [value]="psoption.value"
            >
              {{ psoption.label }}
            </option>
          </select>
          <div
            style="color: red"
            *ngIf="
              signupForm.get('position')!.invalid &&
              signupForm.get('position')!.touched &&
              signupForm.controls['position']!.hasError('required')
            "
          >
            Please select one option
          </div>
        </div>


        <button type="submit" class="btn btn-primary">Sign Up</button>
        <p>Already have an account? <a routerLink="/login">Login Here</a></p>
      </form>
    </div>
  </div>
</div>
