<div class="container-xxl bg-white p-0">
  <!-- Spinner Start -->
  <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
      </div>
  </div> -->
  <!-- Spinner End -->

  <app-header></app-header>
  <app-about></app-about>
  <app-features></app-features>
  <app-screenshot></app-screenshot>
  <app-works></app-works>
  <app-download></app-download>
  <app-pricing></app-pricing>
  <app-testimonials></app-testimonials>
  <app-contact></app-contact>
  <app-footer></app-footer>

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-lg-square back-to-top pt-2"
    ><i class="bi bi-arrow-up text-white"></i
  ></a>
</div>
